body * {
  text-align:center;
  margin:0;
  padding:0;
}

body {
  background: url('../images/gradient.png') top repeat-x #f1f4f6;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-weight:900;
  font-size:90px;
  color:#333;
}

h2 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size:35px;
  font-style:oblique;
  font-weight:100;
  margin-bottom:30px;
  color:#222;
}

.logos-wrapper {
  margin:0;
  padding:0;
  margin-top:20px;
}

.logos-wrapper img {
  margin:0;
  padding:0;
  margin-right:20px;
}

section {
  width:930px;
  margin:auto;
}

article {
  font-family: 'Didact Gothic', sans-serif;
  font-size:19px;
  margin:25px 0;
  line-height:1.5;
  text-align:left;
  padding:.5em;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

article:nth-child(even) {
  background-color:#E4EAEE;
}