body * {
  text-align:center;
  margin:0;
  padding:0;
}

body {
  background: url('../images/gradient.png') top repeat-x #f1f4f6;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-weight:900;
  font-size:90px;
  color:#333;
}

h2 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size:35px;
  font-style:oblique;
  font-weight:100;
  margin-bottom:30px;
  color:#222;
}

.logos-wrapper {
  margin:0;
  padding:0;
  margin-top:20px;
  margin-bottom:20px;
}

.logos-wrapper img {
  margin:0 40px;
  padding:0;
  height:120px;
}

section, .score {
  width:930px;
  margin:auto;
}

article, ul {
  font-family: 'Didact Gothic', sans-serif;
  font-size:19px;
  margin:25px 0;
  line-height:1.5;
  text-align:left;
  padding:.5em;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

article:nth-child(even) {
  background-color:#E4EAEE;
}

.score {
  text-align:center;
  position:relative;
  top:-20px;
  left:10px;
}

.score li {
  display:inline;
  margin:0 105px;
  position:relative;
  white-space: normal
}

.score li:first-child {
  margin-left:0;
}

.score li:nth-child(2) {
  margin-left:135px;
}

.score li:nth-child(3) {
  position:relative;
  left:20px;
}

.score li:last-child {
  margin-right:0;
  position:relative;
  left:-20px;
}
